/* Footer styling */
footer {
    background-color: #222;  
    padding: 40px 0;
    color: white;
    text-align: center;
}


footer .content {
    max-width: 600px;
    margin: 0 auto;  
    background-color: rgb(245, 243, 247); 
    padding: 90px;  
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    display: flex;
}


footer h2 {
    font-family: "Roboto Slab", serif;
    font-weight: bold;
    font-size: 2.2rem;
    color: #000000;  
    margin-bottom: 20px;
}

/* Ajustes de input */
footer input {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

/* Botones */
footer button {
    width: 48%;
    padding: 10px;
    background-color: rgb(120, 29, 156);
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

footer button:hover {
    background-color: rgb(100, 20, 130); 
}

/* Grupo de radio buttons */
footer .radio-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    color: #000000;
}
#xd{
    color: #000000;
}
